.BasicLayouts {
    width: 100%;
    height: 100%;
    display: flex;

    > .BasicLayouts-left {
        width: 350px;
        background-color: #f2f2f2;
    }

    > .BasicLayouts-right {
        flex: 1;
    }
}